#root {
  max-width: 1280px;
  margin: 0px;
  padding: 1rem;
  text-align: left;
}

.Heading-Title{
  color: rgb(238, 243, 243);
  /* size:160pt; */
  font-size: 2rem;
  text-decoration: underline;
  /* margin: 0px; */
  padding: 0px;
}

.input-Todo{
  padding: 10px 20px;
  margin: 40px auto;
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border: 5px solid rgb(230, 221, 221);
  color:rgb(194, 196, 196);
  font-size: 1.0rem;
}

.input-Todo-form{
  /* margin: 10px; */
  padding: 10px;
  gap: 10px;
  border: 5px solid rgb(218, 24, 24);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.New-Todo-label{
  border: 0px;
  font-size: 1.2rem;
}

.display-list{
  padding: 1px;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.display-list-checkbox{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  accent-color: #007bff;
}

.display-list-checkbox:focus {
  /* Add focus outline */
  outline: 2px solid #000000; 
}

.display-list-label {
  font-size: 1.5rem;
}

.display-list-label.checked{
  /* font-size: 1.5rem; */
  text-decoration: line-through;
  color:#575555
  
}

.display-list-del{
  color: #d60d0d;
  /* background-color: #967a7a; */
  border: 1px solid hsl(0, 100%, 40%);
  /* border-radius: 2px; */
}

.display-list-AC{
  color: #d60d0d;
  /* background-color: #967a7a; */
  border: 1px solid hsl(0, 100%, 40%);
  border-radius: 2px;
}